:root {
    --bg: #0E0F14;
    --bg2: #333232;
    --card: #1E1F26;
    --yellow: #FCC419;
    --text: #FFFFFF;
    --text-muted: #888888;
    --radius: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--card);
    color: var(--text);
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.app-container {
    width: 390px;
    height: 844px;
    margin: 0 auto;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    border-radius: 40px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    
}
#screen-studio, #screen-mindmap {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

}
#screen-mindmap {
    display: none;

}

/* Header Begin */
.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;

}
.header h1{
    font-family: 'Montserrat', sans-serif;
    justify-self: center;
    font-size: 12px;
    font-weight: 200;
}
.back-btn, .archive-btn{
    background: none;
    border: none;
    color: var(--text-muted);
    transition: color 1s;
}
.back-btn:hover, .archive-btn:hover{
    color: var(--text);
}
/* Header End */

/* Chat Begin */
.chat-section {
    margin: 0 auto;
    margin-bottom: 100px;

}
.input-div{
    position: relative;
    display: inline-block;
    
}
.input-div input {
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--bg2);
    border: none;
    border-radius: var(--radius);

}
.input-div button{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px 10px;

}