:root {
    --bg: #1a1a1a;
    --bg2: #4c4c4c;
    --card: #1E1F26;
    --yellow: #FCC419;
    --text: #e7e7e7;
    --text-muted: #888888;
    --radius: 12px;
    --font-display: 'Montserrat', sans-serif;
    --font-body: 'Rajdhani', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--card);
    color: var(--text);
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.app-container {
    width: 390px;
    height: 844px;
    margin: 0 auto;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    border-radius: 40px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    
}
#screen-studio, #screen-mindmap {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

}
#screen-mindmap {
    display: none;

}

/* Header Begin */
.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;

}
.header h1{
    font-family: var(--font-display);
    justify-self: center;
    font-size: 12px;
    font-weight: 200;

}
.back-btn, .archive-btn{
    background: none;
    border: none;
    color: var(--text-muted);
    
}
.back-btn:hover, .archive-btn:hover{
    color: var(--text);

}
/* Header End */

/* Chat Begin */
.chat-section{
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;

}
.input-wrapper{
    display: flex;
    align-items: flex-end;
    background-color: var(--bg2) ; /* TEMP */
    padding: 5px;
    border-radius: var(--radius);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);

}
.input-wrapper textarea{
    flex: 1;
    font-family: var(--font-body);
    font-size: 0.8rem;
    border: none;
    resize: none;
    background: transparent;
    color: var(--text);
    max-height: 68px;
    overflow-y: auto

}
.input-wrapper button{
    background: transparent;
    border: none;
    cursor: pointer;
    
}


/* Chat End */